manifest {
    name = 'Nextflow Grid Search'
    description = 'A demo workflow explore the use of  Nextflow for Grid Search'
    version = '0.0.1'
    author = 'Abhinav Sharma <abhi18av@outlook.com>'
    defaultBranch = 'master'
    homePage = 'https://github.com/abhi18av/nextflow_grid_search'
    nextflowVersion = '>=20.07.1'
}

process.errorStrategy = 'retry'
process.maxRetries = 3


profiles {

    awsbatch {
        workDir = 's3://work' // <- replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'awsbatch'
        }

        aws {
            region = 'eu-west-1'
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }

    }

}

